*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Barlow";
  src:
    url("fonts/Barlow-Regular.woff2") format("woff2"),
    url("fonts/Barlow-Regular.woff") format("woff");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: Barlow, Arial, sans-serif;
  background: #eff6ff;
  color: #2a4a5c;
  margin: 0;
  padding:0;
    box-sizing: border-box;

}
.invest {
  height: 80%;
  width: 80%;
  display: flex;
}
/* левая */
.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 110px;
  height: auto;
  z-index: 2;
}
.invest-image {
  position: relative;
  width: 55%;
}
.invest-image img:first-child {
  width: 100%;
  height: 100%;
}
/* правая */
.invest-content {
  width: 45%;
  background: #fff;
  padding: 30px;
}
.invest-content h1 {
  margin-top: 0;
  font-size: 25px;
  font-weight: normal;
}
.intro {
  margin: 30px 0px;
}
input {
  color: #eeeeee;
}
/* кнопки */
.social {
  display: flex;
  gap: 15px;
  margin: 25px 0;
}
.social .btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 16px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}
.social .btn img {
  width: 16px;
  height: 16px;
}
.facebook {
  background: #255a9b;
}

.linkedin {
  background: #0076b6;
}
.divider {
  display: flex;
  align-items: center;
  color: #aaa;
  margin: 20px 0;
}
.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.divider::before {
  margin-right: 10px;
  margin-left: 80px;
}

.divider::after {
  margin-left: 10px;
  margin-right: 80px;
}
.fields {
  display: flex;
  gap: 15px;
}
.fields input {
  height: 50px;
  width: 90%;
  padding: 12px;
  border: 1px solid #eee;
}
.fields label {
  flex: 1;
}
.investor-type {
  border: none;
  margin: 30px 0px;
}

legend {
  font-size: 20px;
}
.legend-text {
  font-size: 12px;
  margin: 25px 0px;
}
.radio {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  margin: 20px 0px;
}
input .radio {
  border: 1px solid #eee;
}
.info-text {
  font-size: 12px;
  color: #afafaf;
}
.checkbox {
  display: flex;
  gap: 8px;
  font-size: 12px;
  color: #afafaf;
  margin: 20px 0px;
}
.submit {
  width: 200px;
  padding: 14px;
  background: #3698fb;
  border: none;
  color: #fff;
  cursor: pointer;
}

.hover {
  position: absolute;
  top: 100%;
  left: 60px;
  padding: 12px;
  background: #faf7f7ff;

  width: 260px;
  margin-top: 8px;

  opacity: 0;
  visibility: hidden;

  transition: opacity 0.2s ease;
}

.info:hover + .hover {
  opacity: 1;
  visibility: visible;
}

.hover:hover .info-text {
  display: block;
}
.info {
  width: 14px;
  height: 14px;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  font-size: 10px;
  color: #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.in {
  display: flex;
  gap: 20px;
  border: none;
  padding: 0;
}
